<?xml version="1.0"?>
<assembly>
    <id>plugin</id>
    <formats>
        <format>zip</format>
    </formats>
    <includeBaseDirectory>false</includeBaseDirectory>
    <files>
        <file>
            <source>${project.basedir}/src/main/resources/plugin-descriptor.properties</source>
            <!-- ↓↓↓↓↓↓↓↓ this field can be left black in 2.3.5 ↓↓↓↓↓↓↓↓ -->
            <outputDirectory>elasticsearch</outputDirectory>
            <!-- ↑↑↑↑↑↑↑↑ this field can be left black in 2.3.5 ↑↑↑↑↑↑↑↑ -->
            <filtered>true</filtered>
        </file>
    </files>
    <dependencySets>
        <dependencySet>
            <!-- ↓↓↓↓↓↓↓↓ this field can be left black in 2.3.5 ↓↓↓↓↓↓↓↓ -->
            <outputDirectory>elasticsearch</outputDirectory>
            <!-- ↑↑↑↑↑↑↑↑ this field can be left black in 2.3.5 ↑↑↑↑↑↑↑↑ -->
            <useProjectArtifact>true</useProjectArtifact>
            <useTransitiveFiltering>true</useTransitiveFiltering>
        </dependencySet>
    </dependencySets>
</assembly>
